.aside{
    margin: 2%;
    padding-left: 25%;
}
.section{
    text-align: center;
    margin: 1%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
}
body{
    background-image: linear-gradient(gray, white);
}
.nav-item{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li :hover{
    background-color: antiquewhite;
    transition: all 2s;
}