.cardProyectos{
    display:inline-flex;
    margin: 5%;
}
.card-text{
    text-align: center;
}
h5{
    text-align: center;
}
body{
    background-image: linear-gradient(white, black);
    
}
.nav-item{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li :hover{
    background-color:beige;
    transition: all 2s;
}